<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.katekani.laptopsponsorapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Person"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sponsor A Developer"
        android:roundIcon="@drawable/untitledtfhb"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login Account"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SponsorActivity"
            android:label="Sponsor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="Forget Password"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ClientActivity"
            android:label="Questionnaire Form"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UpdateSponsorActivity"
            android:label="Sponsor Profile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserProfileActivity"
            android:label="Developer Profile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UpdateClientProfileActivity"
            android:label="Developer Profile" />
        <activity
            android:name=".ClientAndSponsorActivity"
            android:label="Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUsActivity"
            android:label="About Us" />

        <!-- <activity android:name=". " /> -->

        <activity android:name=".SponsorAddItemActivity"
            android:label="My Items">

        </activity>

        <activity android:name=".sponsorInformation"
            android:label="Add Laptop">

        </activity>
    </application>

</manifest>