<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.katekani.laptopsponsorapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Person"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SponsorDev"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login Account" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".SponsorActivity"
            android:label="Sponsor" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="Forget Password" />
        <activity
            android:name=".ClientActivity"
            android:label="Client" />
        <activity
            android:name=".UpdateSponsorActivity"
            android:label="Sponsor Profile" />
        <activity android:name=".UserProfileActivity"
            android:label="Developer Profile"
            />
        <activity
            android:name=".UpdateClientProfileActivity"
            android:label="Developer Profile" />
        <activity
            android:name=".ClientAndSponsorActivity"
            android:label="@string/title_activity_client_and_sponsor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUsActivity"
            android:label="About Us"></activity>
        <activity android:name=".sponsorInformation"></activity>
    </application>

</manifest>